.main {
  /* for the list items */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  /* for the left card */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  /* total circle */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  /* for the fonts */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  height: 100%;
  width: 100%;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.display {
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
}

.indicator {
  height: 100%;
  width: 50%;
  padding: 0% 5%;
  display: flex;
  border-radius: 15px;
  background: linear-gradient(var(--cobalt-blue),
      var(--dark-gray-blue));

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.summary {
  height: 100%;
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.summary ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.summary li {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.reaction {
  /* background-color: rgba(255, 221, 0, 0.467);
  color: rgb(255, 221, 0); */
}

.memory {}

.verbal {}

.visual {}

.but {
  text-decoration-line: none;
  color: black;
  width: 90px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.p {
  word-break: keep-all;
}