.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 50%;
}

.indicator {
  height: 100%;
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summary {
  height: 100%;
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.summary ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.summary li {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.reaction {
  /* background-color: rgba(255, 221, 0, 0.467);
  color: rgb(255, 221, 0); */
}

.memory {

}

.verbal {

}

.visual {

}


.p {
  word-break:keep-all;
}